body {
    /* background-color: rgb(27, 27, 27);  */
    /* color: #b8bad4; */
}

a:hover {
    font-weight: bold;
}

table{
    table-layout: fixed;
    /* width: 100%; */
    text-align: center;
    border-collapse: collapse;
}
thead{
    text-transform: uppercase;
}

tr:nth-child(even){
    background-color: rgb(249, 180, 131);
}
tr:hover{
    background-color: rgb(224, 126, 55);
}

h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
}



::selection{
    color: #d9a689;
    background-color: #261420;
}

input{
    height: 20px;
    border-color: lightgray;
}

header{
    /* Rectangle 11 */
    width: 1512px;
    height: 79px;
    flex-shrink: 0;
    background: #d9a689;
    /* margin-bottom: 649px; */
}


img#main_img{
    position: absolute;
    top: 149px;
    left: 181px;
    width: 436px;
    height: 411px;  
    flex-shrink: 0;
    border-radius: 436px;
    object-fit: cover;

    /* margin: 149px 895px 168px 181px; */
    background: #C4C4C4;
    
}

section#sec1{

    /* Frame 7 */
    position: relative;
    background: #d9a689;
    width: 1512px;
    height: 728px;
    flex-shrink: 0;
    /* margin-bottom: 2340px; */
}
nav#main_nav{
    /* Rectangle 12 */
    width: 600px;
    height: 52px;
    position: absolute;
    /* flex-shrink: 0; */
    /* background:forestgreen ;     */
    /* margin: 13px 1028px 663px 0px;  !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}
nav ul{
    position: relative;
    left: 68px;
}

nav ul li{
    width: 484px;
    height: 52px;
    display: inline;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.36px;
    margin-right:15px ;
    
}
p#wlc_1{
    position: absolute;
    top: 111px;
    left: 756px;

    /* display: flex; */
    width: 444px;
    height: 236px;

    text-align: center;
    font-family: Gentium Book Basic;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;    
}
p#wlc_2{
    position: absolute;
    top: 384px;
    left: 763px;

    display: flex;
    width: 418px;
    height: 91px;

    
    text-align: center;
    font-family: Gentium Book Basic;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;    
}
section#sec2{
    /* Frame 8 */
    position: relative;
    width: 1512px;
    height: 763px;

}
h2#sec2_h2{
    
    position: absolute; 
    top: 91px;
    left: 68px;

    width: 1373px;
    height: 365px;

    color: #000;
    text-align: center;
    font-family: Gentium Book Basic;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;     
}

div#sec2_table{
    position: absolute; 
    top: 330px;
    left: 68px;

    color: #000;
    text-align: center;
    font-family: Gentium Book Basic;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;    

}

section#sec3{
    /* Frame 9 */
    position: relative;
    width: 1512px;
    height: 754px;   
    margin-top: 0px;

    background: #d9a689;
}
p#sec3_p1{
    position: absolute;
    top: -19px;
    left: 68px;


    color: #000;
    text-align: center;
    font-family: Gentium Book Basic;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px; 
}

div#sec3_div1{
    position: absolute;
    width: 1383px;
    height: 245px;
    top: 94px ;
    left: 62px ;

    border-bottom: #00000036;
    border-bottom-style: groove;
    border-bottom-width: 3px;

    /* background: #ffffff; */
}

img#div1_img1{

    position: absolute;
    top: 1px;
    left: 44px;
    width: 423px;
    height: 180px;
    object-fit: contain;

}
a#img1_a1{
    position: absolute;
    top: 49px;
    left: 524px;
    width: 552px;
    height: 66px;

    color: #000;
    text-align: center;
    font-family: Gentium Book Basic;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.54px;   

}


div#sec3_div2{
    position: absolute;
    width: 1383px;
    height: 245px;
    top: 424px ;
    left: 62px ;

    border-bottom: #00000036;
    border-bottom-style: groove;
    border-bottom-width: 3px;
    /* background: #ffffff; */
}

img#div1_img2{

    position: absolute;
    top: 1px;
    left: 44px;
    width: 423px;
    height: 180px;
    object-fit: contain;

}
a#img2_a1{
    position: absolute;
    top: 49px;
    left: 524px;
    width: 552px;
    height: 66px;

    color: #000;
    text-align: center;
    font-family: Gentium Book Basic;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.54px;   

}


section#sec4{
    position: relative;
    width: 1512px;
    height: 417px;

}
div#sec4_div1{
    position: absolute;
    top: 71px;
    left: 281px;

    width: 948px;
    height: 118px;

    color: #000;
    text-align: center;
    font-family: Gentium Book Basic;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;    
}

footer{
    /* Frame 15 */
    position: relative;
    width: 1512px;
    height: 402px;

    background: #d9a689;

}
footer ul{
    position: absolute;
    top: 220px;
    left: 89px;

}
footer ul li{
    
    display: inline;
    width: 110px;
    height:98px;
    margin-right: 15px;
    
}

footer h3{
    position: absolute;
    top: 37px;
    left: 67px;

    width: 1377px;
    height: 111px;

    color: #000;
    font-family: Gentium Book Basic;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

footer img{
    width: 110px;
    height:98px;
}

p#copyright{
    position: absolute;
    top: 336px;
    left: 10px;

    color: #000;
    text-align: center;
    font-family: Gentium Book Basic;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;    
}

img#lngImg{
    position: absolute;
    top: 10px;
    left: 1427px;
    width: 60px;
    height:60px;
}